    <footer class="border-top footer text-muted">
        <div class="container">
            <a>Friends Website</a>
            <a asp-area="" asp-controller="Friends" asp-action="List">Friends List</a>
        </div>
    </footer>