<form asp-controller = "Friends" asp-action="AddFriend" method="post" >
    <label for="fname">Name:</label><br>
    <input type = "text" name = "Name" /><br />

    <label for="fphone">Phone:</label><br>
    <input type = "text" name = "Phone" /><br />

    <label for="fprofile">Image Url:</label><br>
    <input type = "text" name = "Profile" /><br />
    <br />
    <input type="submit" value="Submit">
</form>